@charset "utf-8";
/*==================================================
	愛媛相談室のスタイルを記述
==================================================*/
@media only screen and (max-width: 640px){ /* スマホ用 */
	#container {
		padding-top: 18px !important;
	}
}
#menu {
	border-bottom: 1px solid #005E9C;
}
#menu .g_menu > li {
	width: 20%;
}
#menu .g_menu > li > a {
	padding: 6px;
}
#menu ul li .dropdwn_menu li a {
	padding: 10px 20px;
}
@media only screen and (max-width: 768px) and (min-width: 641px){ /* タブレットのみ */
	#menu_sp ul li {
			width: 25% !important;
	}
}
@media only screen and (max-width: 640px) {
	#menu_sp ul {
		width: 100%;
	}
	/*#menu_sp ul li {
		width: 34% !important;
	}
	#menu_sp ul li:first-child,
	#menu_sp ul li:last-child {
		border: none;
		width: 33% !important;
	}*/
	#menu_sp ul li {
		width: 50% !important;
	}
	#menu_sp ul li a {
		font-size: 16px;
	}
}
/**/
@media only screen and (max-width: 768px) { /* タブレット・スマホ用 */
	#img_bottom_msg p {
		padding: 8px 0;
		line-height: 1.3;
	}
}
/**/
#top_menu:before {
	background: url("../ehime/img/bg_msg.jpg") no-repeat center top / cover;
}
#top_menu .head {
	width: 850px;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
	box-sizing: border-box;
}
#top_menu dt {
	position: relative;
	margin-bottom: -20px;
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	text-shadow: 2px 2px 0 #fff;
}
#top_menu dd {
	padding: 35px;
	background: rgba(255,255,255,0.8);
	color: #005E9C;
	font-size: 20px;
	font-weight: 500;
}
@media only screen and (max-width: 768px) { /* タブレット・スマホ用 */
	#top_menu .head {
		padding-left: 80px;
	}
	#top_menu dt {
		font-size: 25px;
	}
	#top_menu dd {
		padding: 25px 15px 15px;
	}
}
@media only screen and (max-width: 640px){ /* スマホ用 */
	#top_menu .head {
		padding-left: 0;
	}
	#top_menu .head h2 {
		margin-top: 5px;
		font-size: 18px;
		line-height: 1.3;
	}
	#top_menu dt {
		margin-bottom: -15px;
		font-size: 18px;
		line-height: 1.4;
	}
	#top_menu dd {
		font-size: 100%;
	}
}
/* 浮気調査安心プラン */
#top_plan .box:not(.price_box) {
	padding-bottom: 20px;
}
#top_plan .box .wrap {
	padding-bottom: 20px;
}
#top_plan .box p:not(.link) a {
	color: #C1272D;
	text-decoration: underline;
}
#top_plan .box .wrap dl.plan.w1 {
	width: 100%;
}
#top_plan .box.price_box dl.head dd {
	padding-left: 100px;
	padding-right: 20px;
}
@media print, screen and (min-width: 641px){ /* PC用 */
	#top_plan .box .wrap dl.plan.w1 {
		display: table;
	}
	#top_plan .box .wrap dl.plan.w1 dt,
	#top_plan .box .wrap dl.plan.w1 dd {
		display: table-cell;
		vertical-align: middle;
	}
	#top_plan .box .wrap dl.plan.w1 dt {
		width: 38%;
		white-space: nowrap;
	}
	#top_plan .box .wrap dl.plan.w1 dd > span { display: inline-block;	}
	#top_plan .box .wrap dl.plan.w1 dd > span.komi {
		padding-top: 10px;
	}
}
@media only screen and (max-width: 768px) and (min-width: 641px){ /* タブレットのみ */
	#top_plan .box .wrap dl.plan.w1 dt {
		width: 40%;
	}
	#top_plan .box dl.head dt.mp {
		text-align: center;
	}
}
@media only screen and (max-width: 768px) { /* タブレット・スマホ用 */
	#top_plan h3 .fs {
		display: block;
	}
	#top_plan .box.price_box dl.head dd {
		padding: 15px;
	}
	#top_plan .box .wrap dl.plan dd .red_waku {
		margin-right: 5px;
		margin-bottom: 15px;
		font-size: 16px;
	}
	#top_plan .box .wrap dl.plan dd .price {
		font-size: 28px;
	}
}
@media only screen and (max-width: 640px){ /* スマホ用 */
	#top_plan h3 .fs {
		line-height: 1.3;
	}
	#top_plan .pad {
		padding: 0 10px;
	}
}
/**/
#ehime_point {
	margin-bottom: 50px;
}
#ehime_point::before {
	background: url("../ehime/img/bg_point.jpg") no-repeat center top;
	background-size: 100% auto;
	-webkit-background-size: 100% auto;
}
#ehime_point h3 {
	margin-bottom: 30px;
	color: #fff;
	font-size: 37px;
	text-align: center;
	text-shadow: 0 0 3px rgba(0 0 0 0.5);
}
#ehime_point .in {
	padding: 40px 20px;
	background: #fff;
	color: #005E9C;
	font-size: 110%;
	line-height: 2.1;
}
@media only screen and (max-width: 768px) { /* タブレット・スマホ用 */
	#ehime_point::before {
		background: url(../ehime/img/bg_point.jpg) no-repeat center top / cover;
		background-size: auto 300px;
		-webkit-background-size: auto 300px;
}
	#ehime_point h3 {
		font-size: 30px;
	}
	#top_evidence {
		padding-bottom: 30px;
	}
}
@media only screen and (max-width: 640px){ /* スマホ用 */
	#ehime_point::before {
		background: url("../ehime/img/bg_point_sp.jpg") no-repeat center top / cover;
		background-size: auto 300px;
		-webkit-background-size: auto 300px;
	}
	#ehime_point h3 {
		text-shadow: 0 0 5px rgba(0, 94, 156, 0.8);
		margin-bottom: 15px;
		font-size: 22px;
		text-align: left;
	}
	#ehime_point .in {
		padding: 15px;
		font-size: 100%;
		line-height: 1.6;
	}
	#top_evidence .sample .wrap {
		display: block;
	}
	#top_evidence .wrap dl.w2 {
		width: 100%;
	}
	#top_evidence .wrap dl dd p.arrow, #top_evidence .wrap dl dd p {
		width: calc(50% - 10px);
	}
	#top_evidence .wrap dl dd p.arrow:before {
    right: -38px;
    margin-top: -18px;
		border-width: 18px;
	}
}
/* 弁護士事務所からの推奨コメント */
#top_profile dl dt > img {
	vertical-align: middle;
}
@media print, screen and (min-width: 641px){ /* PC用 */
	#top_profile dl dt {
		height: 63px;
		box-sizing: border-box;
	}
}
/**/
#ehime_txt::before {
	background: url("../ehime/img/bg_txt.jpg") no-repeat center top / cover;
}
#ehime_txt {
	color: #fff;
	font-size: 23px;
	font-weight: 500;
	text-shadow: 0 0 5px rgba(0,0,0,0.2);
	line-height: 2;
}
@media only screen and (max-width: 768px) { /* タブレット・スマホ用 */
	#ehime_txt {
		font-size: 20px;
		line-height: 1.6;
	}
}
@media only screen and (max-width: 640px){ /* スマホ用 */
	#ehime_txt {
		font-size: 100%;
	}
}
/**/
#top_about ul li {
	/* 縦方向中央揃え */
	display: flex;
	align-items: center;
	justify-content: center;
}
@media print, screen and (min-width: 641px){ /* PC用 */
	#top_about .wrap dl dd {
		height: calc(100% - 36px);
		box-sizing: border-box;
	}
}
/**/
#top_hiroshima::before {
	background: url("../ehime/img/bg_about.jpg") no-repeat center top / cover;
}
#top_hiroshima .photo li {
	list-style: none;
}
#top_hiroshima .photo li img {
	max-width: calc(100% - 2px);
	border: 1px solid #ccc;
}
@media print, screen and (min-width: 641px){ /* PC用 */
	#top_hiroshima .photo li {
		width: 32%;
	}
}
@media only screen and (max-width: 640px){ /* スマホ用 */
	#top_hiroshima .photo li+li {
		margin-top: 10px;
	}
}
/**/
#top_koukoku dl dd {
	padding: 15px 20px;
}
#top_koukoku ul li a {
	height: auto;
	padding: 5px 0;
}
#top_koukoku .line {
	padding: 25px;
	background: #06C755;
	border-radius: 10px;
	/* フレックス */
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
#top_koukoku .line .in {
	width: calc(100% - 200px);
}
#top_koukoku .line .qr {
	width: 179px;
	margin: 0;
	padding: 5px;
	background: #fff;
	text-align: center;
	box-sizing: border-box;
}
#top_koukoku .line .b {
	margin-bottom: 10px;
	color: #fff;
	font-size: 17px;
}
#top_koukoku .line .b+p {
	margin: 0;
	padding: 10px 15px;
	background: #fff;
	border-radius: 10px;
	color: #666;
}
#top_koukoku .line .b+p a {
	color: #06C755;
	text-decoration: underline;
}
#top_koukoku .card {
	margin: 0;
	padding: 20px 25px 25px;
	background: #14AAD5;
	border-radius: 10px;
}
#top_koukoku .card dt {
	margin-bottom: 10px;
	font-size: 17px;
	text-align: left;
}
#top_koukoku .card dd {
	padding: 20px;
	border-radius: 10px;
}
#top_koukoku .card dd p {
	text-align: center;
}
#top_koukoku .card dd p:last-child {
	padding-top: 15px;
	margin-bottom: 0;
	border-top: 1px solid #ccc;
}
@media print, screen and (min-width: 641px){ /* PC用 */
	#top_koukoku .box_flex {
		align-items: flex-start;
	}
	#top_koukoku .line,
	#top_koukoku .card {
		width: 48.5%;
		box-sizing: border-box;
	}
}
@media only screen and (max-width: 768px) { /* タブレット・スマホ用 */
	#top_koukoku .line,
	#top_koukoku .card {
		width: 100%;
		box-sizing: border-box;
	}
	#top_koukoku .card {
		margin-top: 20px;
	}
}
@media only screen and (max-width: 640px){ /* スマホ用 */
	#top_koukoku .line,
	#top_koukoku .card {
		padding: 10px;
	}
	#top_koukoku .line {
		align-items: flex-start;
	}
	#top_koukoku .line .in {
		width: calc(100% - 110px);
		font-size: 80%;
	}
	#top_koukoku .line .in img {
		width: 120px;
	}
	#top_koukoku .line .b {
		font-size: 14px;
	}
	#top_koukoku .line .b+p {
		width: calc(100% + 80px);
	}
	#top_koukoku .line .qr {
		width: 90px;
	}
	#top_koukoku .card dt {
		font-size: 14px;
	}
	#top_koukoku .card dd {
		padding: 10px;
	}
	#top_koukoku .card dd img {
		width: auto;
		height: 30px;
	}
}
/**/
@media only screen and (max-width: 640px){ /* スマホ用 */
	#top_area .box .wrap ul {
		width: 30%;
	}
	#top_area .box .wrap ul:nth-child(1),
	#top_area .box .wrap ul:nth-child(4) {
		width: 40%;
	}
}
/**/
#ehime_promise {
	padding-bottom: 30px;
}
#ehime_promise::before {
	background: url("../ehime/img/bg_promise.jpg") no-repeat center top / cover;
}
#ehime_promise::after {
	position: absolute;
	left: 0;
	top: 0;
	display: block;
	width: 100vw;
	height: 100%;
	margin-left: calc(((100vw - 100%) / 2) * -1);
	margin-right: calc(((100vw - 100%) / 2) * -1);
	background: linear-gradient(top, transparent 100px, #14aad5);
	background: -ms-linear-gradient(top, transparent 100px, #14aad5);
	background: -moz-linear-gradient(top, transparent 100px, #14aad5);
	background: -webkit-linear-gradient(top, transparent 100px, #14aad5);
	content: "";
	z-index: -1;
}
#ehime_promise h3 {
	padding: 20px 0 60px 110px;
	background: url("../img/top/clover.png") no-repeat left top 15px;
	background-size: 92px auto;
	border-top: 2px solid #005e9c;
	color: #005e9c;
	font-size: 37px;
}
#ehime_promise dl {
	margin-bottom: 50px;
	background: #fff;
}
#ehime_promise dt {
	border-bottom: 1px solid #ccc;
	text-align: center;
}
#ehime_promise dt b {
	display: block;
	padding: 15px 0 10px;
	color: #054A97;
	font-size: 21px;
	font-weight: 500;
}
#ehime_promise dd {
	padding: 15px;
}
@media only screen and (max-width: 1150px) {
	#ehime_promise::after {
		width: calc(100% + 50px);
		margin-left: -25px;
		margin-right: 0;
	}
}
@media print, screen and (min-width: 641px){ /* PC用 */
	#ehime_promise dl {
		width: 31%;
	}
	#yamaguchi_reason dd {
		padding: 20px;
	}
}
@media only screen and (max-width: 768px) { /* タブレット・スマホ用 */
	#ehime_promise dt b {
		font-size: 18px;
	}
}
@media only screen and (max-width: 640px){ /* スマホ用 */
	#ehime_promise h3 {
		padding-left: 60px;
		padding-bottom: 20px;
		background-size: 50px auto;
		-webkit-background-size: 50px auto;
		font-size: 21px;
	}
	#ehime_promise h3 b {
		box-shadow: 0 -12px 0 #D0EEF7 inset;
	}
	#ehime_promise dl {
		margin-bottom: 20px;
	}
	#ehime_promise dt b {
		font-size: 100%;
	}
}
/**/
#ehime_reason::before {
	background: url("../ehime/img/bg_reason.jpg") no-repeat center top;
	background-size: 100% auto;
	-webkit-background-size: 100% auto;
}
#ehime_reason h3 {
	margin-bottom: 30px;
	color: #054a97;
	font-size: 37px;
	font-weight: 700;
	text-align: center;
	line-height: 1.3;
	letter-spacing: 0.05em;
}
#ehime_reason .in {
	overflow: hidden;
	padding: 30px;
	background: #fff;
	border: 3px solid #054a97;
	border-left-color: #14aad5;
	border-right-color: #14aad5;
	font-size: 110%;
	line-height: 2;
}
#ehime_reason .in p {
	margin-bottom: 0;
}
#ehime_reason .in p.img_rit {
	margin-left: 20px;
	box-shadow: 10px 10px 0 #14aad5;
}
@media only screen and (max-width: 768px) {
	#ehime_reason h3 {
		font-size: 30px;
	}
	#ehime_reason .in p.img_rit {
		width: 30%;
	}
}
@media only screen and (max-width: 640px){ /* スマホ用 */
	#ehime_reason h3 {
		margin-bottom: 20px;
		font-size: 22px;
	}
	#ehime_reason .in {
		padding: 15px;
		font-size: 95%;
		line-height: 1.6;
	}
	#ehime_reason .in p.img_rit {
		width: 40%;
		margin-bottom: 15px;
		box-shadow: 5px 5px 0 #14aad5;
	}
}
/*--------------------------------------------------
  調査項目(トップ)
--------------------------------------------------*/
#about {
	background: linear-gradient(top, #dcf2f9 200px, transparent 410px);
	background: -ms-linear-gradient(top, #dcf2f9 200px, transparent 410px);
	background: -moz-linear-gradient(top, #dcf2f9 200px, transparent 410px);
	background: -webkit-linear-gradient(top, #dcf2f9 200px, transparent 410px);
}
#about .bg_wide::before {
	background: #dcf2f9 url("../ehime/img/about/bg.jpg") no-repeat center bottom;
	background-size: 100% auto;
	-webkit-background-size: 100% auto;
}
#about dl {
	margin-bottom: 50px;
	background: #fff;
}
#about dt b {
	display: block;
	padding: 10px;
	background: linear-gradient(left, #14aad5, #0a84b9);
	background: -ms-linear-gradient(left, #14aad5, #0a84b9);
	background: -moz-linear-gradient(left, #14aad5, #0a84b9);
	background: -webkit-linear-gradient(left, #14aad5, #0a84b9);
	color: #fff;
	font-size: 19px;
	font-weight: 500;
	text-align: center;
	line-height: 1.3;
}
#about dd {
	padding: 25px;
}
#about h3.ttl {
    border-top: 2px solid #005E9C;
    font-size: 37px;
    color: #005E9C;
    padding-top: 15px;
    margin-bottom: 30px;
}
@media print, screen and (min-width: 641px){ /* PC用 */
	#about dl {
		width: 23%;
	}
}
@media only screen and (max-width: 768px) { /* タブレット */
	#about h3.ttl {
		font-size: 30px;
	}
	#about dl {
		width: 48%;
	}
}
@media only screen and (max-width: 640px){ /* スマホ用 */
	#about dl {
		margin-bottom: 40px;
		margin-top: -80px;
		padding-top: 80px;
		background: none;
	}
	#about dt b {
		padding: 6px;
		font-size: 19px;
	}
	#about dd {
		padding: 15px;
		background: #fff;
	}
	#about h3.ttl {
		font-size: 25px;
	}
	#about dl {
		width: 100%;
	}
}
/*--------------------------------------------------
  調査項目(サブ)
--------------------------------------------------*/
#about_sub {
	background: linear-gradient(top, #fff 200px, transparent 410px);
	background: -ms-linear-gradient(top, #fff 200px, transparent 410px);
	background: -moz-linear-gradient(top, #fff 200px, transparent 410px);
	background: -webkit-linear-gradient(top, #fff 200px, transparent 410px);
}
#about_sub .bg_wide::before {
	background: #dcf2f9 url("../ehime/img/about/bg.jpg") no-repeat center bottom;
	background-size: 100% auto;
	-webkit-background-size: 100% auto;
}
#about_sub dl {
	margin-bottom: 50px;
	background: #fff;
}
#about_sub dt b {
	display: block;
	padding: 10px;
	background: linear-gradient(left, #14aad5, #0a84b9);
	background: -ms-linear-gradient(left, #14aad5, #0a84b9);
	background: -moz-linear-gradient(left, #14aad5, #0a84b9);
	background: -webkit-linear-gradient(left, #14aad5, #0a84b9);
	color: #fff;
	font-size: 30px;
	font-weight: 500;
	text-align: center;
	line-height: 1.3;
}
#about_sub dd {
	padding: 25px;
}
@media print, screen and (min-width: 641px){ /* PC用 */
	#about_sub dl {
		width: 48%;
	}
}
@media only screen and (max-width: 640px){ /* スマホ用 */
	#about_sub dl {
		margin-bottom: 40px;
		margin-top: -80px;
		padding-top: 80px;
		background: none;
	}
	#about_sub dt b {
		padding: 6px;
		font-size: 21px;
	}
	#about_sub dd {
		padding: 15px;
		background: #fff;
	}
}